<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier le Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Modifier le Client</h2>
    <form th:action="@{/customers/update/{id}(id=${customerForm.id})}" th:object="${customerForm}" method="post">
        <div class="customerForm">
            <label for="name">Nom</label>
            <input type="text" class="customerForm" id="name" th:field="*{name}" required>
        </div>
        <div class="customerForm">
            <label for="email">Email</label>
            <input type="email" class="customerForm" id="email" th:field="*{email}" required>
        </div>
        <div class="customerForm">
            <label for="phone">Téléphone</label>
            <input type="text" class="customerForm" id="phone" th:field="*{phone}" required>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>
</body>
</html>
